[submodule "k3s-ansible"]
	path = env/playbooks/k3s-ansible
	url = https://github.com/k3s-io/k3s-ansible.git
[submodule "env/playbooks/s3gw-charts"]
	path = env/playbooks/s3gw-charts
	url = https://github.com/aquarist-labs/s3gw-charts
	branch = main
